@import url('https://fonts.googleapis.com/css2?family=Delius&family=Poetsen+One&display=swap');

body {
  background-image: url("https://i.pinimg.com/736x/6c/a3/9d/6ca39dd11805923a7193ddeee771e46e.jpg");
  text-align: center;
  margin: auto;
   font-family: "Poetsen One", serif;
}

h2{
  font-size: 30px;
  color: white;
}

#myCanvas {
  background-size: 600px 400px;
  border-radius: 30px;
  border: 5px solid white;
}





